<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ULEV02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ULEV02.Properties.Settings>
            <setting name="PowerCoarseSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerFineSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PulseCoarseSetting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PulseFineSetting" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GainCoarseSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainFineSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RateSetting" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TotalSetting" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="CutoffSetting" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GainLED" serializeAs="String">
                <value>0</value>
            </setting>
        </ULEV02.Properties.Settings>
    </userSettings>
</configuration>
